$gray: #9d9d9d;

$shadow-top: rgb(72 0 169 / 30%) 0 13px 27px -5px;
$shadow-bottom: rgb(43 0 93 / 30%) 0 8px 16px -8px;
$dark-shadow-top: rgb(121 70 180 / 30%) 0 13px 27px -5px;
$dark-shadow-bottom: rgb(169 129 206 / 30%) 0 8px 16px -8px;
