$primary-color: #f15f2c;
$secondary-color: #6441a5;

$white: #fff;
$black: #000;
$gray: #d9d9d9;

$light: #f1f1f1;
$dark: #262626;

$background-transparent-light: rgb(236 236 236 / 60%);
$background-transparent-dark: rgb(19 19 19 / 60%);
$background-hover-light: rgb(255 255 255 / 8%);
$background-hover-dark: rgb(0 0 0 / 10%);
$background-active-light: rgb(255 255 255 / 10%);
$background-active-dark: rgb(0 0 0 / 12%);

$border-light: #d3d3d3;
$border-dark: #383838;

$critical-color: #e53948ff;

$boosty-color: #f15f2c;
$twitch-color: #a970ff;
$stv-color: #28b1a6;
$ffz-color: #c58b66;
$bttv-color: #e53d4c;
$favorite-color: gold;
